<style type="text/css"> /*Calendar Caption*/
.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    font-size: 22px;
}
</style>
<!-- My Profile -->
<div class="margin-bottom-20">
  <div class="headline"><h4>Admin</h4></div>
  <h5><%= link_to "Scheduled Requests" %></h5>
  <h5><%= link_to "Unscheduled Requests" %></h5>
  <hr>
</div>