<div style="width: 700px;">
  <h2 style="color: #3498db"> You are invited for prep by <%= @user.fullname %></h2>
  <hr>
  <p><%= @prep.description %></p>
  <p><%= link_to @prep.title, '#' %></p>
  <hr>
  <p>sleekgeekllc.com</p>
  <p>Contacts: </p>
</div>