
<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
        			<div class="span3">
                        <!-- About -->
        		        <p><a>About Us</a></p>
        			</div><!--/span4-->	
        			<div class="span3">
                        <p><a>Trust and Safety</a></p>
          			</div><!--/span4-->
                    <div class="span3">
                        <p><a>Help and Support</a></p>
                    </div><!--/span4-->
                    <div class="span3">
                        <p><a>Resources</a></p>
                    </div>
                </div>
            </div>

            <div class="span4 pull-right">
                <ul class="social-icons">
                    <li>
                        <a href="http://facebook.com" data-original-title="Facebook" class="social_facebook"></a>
                    </li>
                    <li><a href="https://www.twitter.com" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="http://www.linkedin.com" data-original-title="Linkedin" class="social_linkedin"></a></li>
                </ul>
            </div>
		</div><!--/row-fluid-->	
	</div><!--/container-->	
</div><!--/footer-->	
<!--=== End Footer ===-->