<div class="container"> 
  <!-- Information Blokcs -->
  <div class="row">
    <div class="span10" style="margin-left: auto; margin-right: auto; float: none;">
  <div class="row-fluid margin-bottom-20">
    <!-- How it works -->
    <div class="span6">
      <div class="headline"><h3>Fast Setup</h3></div>
        <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
    </div><!--/span6-->
    <div class="span6">
      <div class="headline"><h3>Interviews, Cover Letters, Resumes</h3></div>
        <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
    </div><!--/span6-->
  </div>
  <div class="row-fluid margin-bottom-20">
    <div class="span6">
      <div class="headline"><h3>Confidential & Secure</h3></div>
      <p><img class="pull-left lft-img-margin img-width-200" src="/assets/carousel/6.jpg" alt="" />Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p> 
      <ul class="unstyled">
        <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
        <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
        <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
      </ul><br>

      <blockquote class="hero-unify">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
        <small>CEO, Jack Bour</small>
      </blockquote>
    </div><!--/span6-->  

    <!-- Interview, Information interviews, Cover letters, Resumes -->
    <div class="span6">
      <div class="headline"><h3>Clear Pricing</h3></div>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
          <img src="/assets/carousel/5.jpg" alt="">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
          </div>
          </div>
          <div class="item">
          <img src="/assets/carousel/4.jpg" alt="">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
          </div>
          </div>
          <div class="item">
          <img src="/assets/carousel/3.jpg" alt="">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
          </div>
          </div>
        </div>
        
        <div class="carousel-arrow">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
        </div>
      </div>
    </div><!--/span4-->
  </div><!--/row-fluid--> 
    </div>
    </div>
  <!-- //End Information Blokcs -->

  <!-- How it Works -->
  <div class="headline"><h3>Online Books</h3></div>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/2.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Finance</a></h3>
        <p>Finance Guide</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/3.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3>
          <a class="hover-effect" href="#">Technology</a>
        </h3>
        <p>Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/9.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Accounting</a></h3>
        <p>This is guide for accounting</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/10.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Consulting</a></h3>
        <p>Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
      </div>
    </li>
  </ul><!--/thumbnails-->
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/2.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Finance</a></h3>
        <p>Finance Guide</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/3.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3>
          <a class="hover-effect" href="#">Technology</a>
        </h3>
        <p>Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/9.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Accounting</a></h3>
        <p>This is guide for accounting</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="/assets/carousel/10.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">read more +</a>           
        </div>
        <h3><a class="hover-effect" href="#">Consulting</a></h3>
        <p>Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
      </div>
    </li>
  </ul><!--/thumbnails-->
  <!-- //End Online Books -->
  <!-- Information Blokcs -->
  <div class="headline"><h3>Online Books</h3></div>
  <div class="row-fluid margin-bottom-20">
    <!-- Who We Are -->
    <% @guidebooks.each do |guide| %>
    <div class="span6">
      <p>
        <%= image_tag guide.cover.url(:medium), :class => 'pull-left lft-img-margin img-width-200' %>
        <div class="headline"><h4><%= guide.name %></h4></div>
        <%= guide.description.gsub("\n", "<br>").html_safe %>
      </p>

    </div><!--/span6-->
    <% end %>
  </div><!--/row-fluid--> 
  <!-- //End Information Blokcs -->
</div><!--/container-->   
<!-- End Content Part -->