<div class="container"> 
  <!-- Information Blokcs -->
  <div class="span5" style="margin:150px auto 100px auto; float:none;">
	  <div class="row-fluid">
	  	<div class="span5 pull-left text-center">
	  		<a href="<%= new_user_registration_path(:plan => 'preppee') %>">
	  			<img class="img-rounded" src='/assets/user/preppee_avatar.jpg' >
	  			<h3>Preppee</h3>
	  		</a>
	  	</div>
	  	<div class="span5 pull-right text-center">
	  		<a href="<%= new_user_registration_path(:plan => 'prepper') %>">
	  			<img class="img-rounded" src='/assets/user/prepper_avatar.jpg' >
	  			<h3>Prepper</h3>
	  		</a>
	  	</div>
	  </div>
	</div>
</div>