label, input, button, select, textarea
{
	font-size: 13px !important;
}

.form-horizontal .control-group
{
	margin-bottom: 17px;
}

.profile-img-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    border: 1px solid #999;
}

.profile-img-wrapper * {
    vertical-align: middle;
}

.edit-photo
{
	color: #0093f0;
	text-align: center;
	font-size: 20px; font-weight: bold;
	position: absolute;
	margin:0px 160px;
}

.add-photo
{
	color: #0093f0;
	text-align: center;
	font-size: 20px; font-weight: bold;
	position: absolute;
	margin: 60px 40px;
}

input[type="button"].btn, input[type="submit"].btn
{
	padding: 5px 12px;
}

.profile-section-title
{
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.profile-section
{
	margin-bottom: 15px;
}

.dl-horizontal dt
{
  white-space: normal;
}

.white-background
{
	background-color: white;
	border: 1px solid #ccc;
}

.padding-20
{
	padding: 20px;
}
.img-circle {
  border-radius: 500px 500px 500px 500px !important;
}